---
layout: archive
title: "Python Resources"
permalink: /python/
author_profile: true
---

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.python_category %}
  {% for category in site.python_category %}
    {% assign title_shown = false %}
    {% for post in site.python %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.python %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
